In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../../data/tidy/paired_data/final_data_for_analysis_iob_check.csv")

In [4]:
ins_meal = pd.read_csv('../../data/raw/dexip_insulin_meal.csv')

In [5]:
ins_meal

,start_time,ID,insulin,during,meal_post_30,meal_post_60
0,2021-02-13 15:07:00,dexip_6,0.446944,False,True,False
1,2021-02-14 19:21:00,dexip_6,1.477500,False,True,False
2,2021-02-15 17:15:00,dexip_6,0.952778,False,False,False
3,2021-02-16 14:00:00,dexip_6,0.531389,False,False,False
4,2021-02-18 16:22:56,dexip_6,0.998611,False,False,False
...,...,...,...,...,...,...
5983,2021-05-21 20:20:00,dexip_540,0.868611,False,False,False
5984,2021-05-22 07:15:48,dexip_540,NaN,False,False,False
5985,2021-05-22 11:10:04,dexip_540,NaN,False,False,False
5986,2021-05-22 14:46:52,dexip_540,NaN,False,False,False
5987,2021-05-22 16:44:00,dexip_540,NaN,False,False,False

In [6]:
# Set the directory
directory = '../../../hypo-predict/data/raw_data/helmsley/'

meal = pd.read_sas(directory+'ML.xpt', encoding='utf-8')

meal['MLDTC'] = pd.to_datetime('1960-01-01') + pd.to_timedelta(meal['MLDTC'], unit='s')

selected_meal_helm = meal[['USUBJID', 'MLDTC', 'MLCAT', 'MLDOSE', 'MLDOSU']]
selected_meal_helm.columns = ['ID', 'time', 'meal_category', 'dose', 'dose_unit']
#selected_meal.to_csv('helm_selected_meal.csv', index=False)
selected_meal_helm['ID'] = 'helm_' + selected_meal_helm['ID'].astype(str)

/tmp/ipykernel_42975/2166055512.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_meal_helm['ID'] = 'helm_' + selected_meal_helm['ID'].astype(str)

In [7]:
# Set the directory
directory = '../../../hypo-predict/data/raw_data/helmsley_dexip/'

meal = pd.read_sas(directory+'ML.xpt', encoding='utf-8')

meal['MLDTC'] = pd.to_datetime('1960-01-01') + pd.to_timedelta(meal['MLDTC'], unit='s')

selected_meal_dexip = meal[['USUBJID', 'MLDTC', 'MLCAT', 'MLDOSE', 'MLDOSU']]
selected_meal_dexip.columns = ['ID', 'time', 'meal_category', 'dose', 'dose_unit']
#selected_meal.to_csv('helm_selected_meal.csv', index=False)
selected_meal_dexip['ID'] = 'dexip_' + selected_meal_dexip['ID'].astype(str)

/tmp/ipykernel_42975/4212591934.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_meal_dexip['ID'] = 'dexip_' + selected_meal_dexip['ID'].astype(str)

In [8]:
meals = pd.concat([selected_meal_helm, selected_meal_dexip])

In [9]:
meals

            ID                time            meal_category  dose dose_unit
0       helm_1 2020-03-08 00:00:00  USUAL DAILY CONSUMPTION   3.0
1       helm_1 2020-03-08 00:00:00  USUAL DAILY CONSUMPTION   2.0
2       helm_1 2020-05-11 23:12:21             RESCUE CARBS  28.0         g
3       helm_1 2020-05-12 05:30:58             RESCUE CARBS  19.0         g
4       helm_1 2020-05-12 07:55:29             RESCUE CARBS  19.0         g
...        ...                 ...                      ...   ...       ...
6111  dexip_99 2021-10-08 15:53:00                 CONSUMED  16.0         g
6112  dexip_99 2021-10-09 15:51:00                 CONSUMED  15.6         g
6113  dexip_99 2021-10-13 10:02:23                 CONSUMED  15.6         g
6114  dexip_99 2021-10-13 12:57:49                 CONSUMED  15.6         g
6115  dexip_99 2021-10-09 06:59:25                 CONSUMED  39.0         g

[68591 rows x 5 columns]

In [10]:
df.columns

Index(['bout_id', 'ID', 'start_datetime', 'duration', 'intensity',
       'type_of_exercise', 'finish_datetime', 'month', 'day', 'day_of_week',
       'time_of_day', 'form_of_exercise', 'time', 'glc', 'start_roc', 'IOB',
       'iob_kg', 'cv', 'avg_glucose', 'sd_glucose', 'time_below_3_9',
       'time_3_9_to_10', 'time_above_10', 'hbgi', 'glc_post_20', 'hypo',
       'exercise', 'glc_change', 'aer', 'ana', 'mix', 'age', 'sex', 'race',
       'hba1c', 'bmi', 'years_since_diagnosis', 'insulin_modality',
       'hour_of_day', 'light', 'moderate', 'vigorous', 'female', 'iob_bin',
       'age_bin', 'years_since_diagnosis_bin', 'bmi_bin', 'hba1c_bin',
       'start_roc_bin', 'glc_bin', 'pump', 'mdi', 'closed_loop',
       'iob_quadratic', 'start_roc_quadratic', 'cv_quadratic', 'glc_quadratic',
       'age_quadratic', 'bmi_quadratic', 'iob_cubed', 'start_roc_cubed',
       'cv_cubed', 'glc_cubed', 'age_cubed', 'bmi_cubed'],
      dtype='object')

In [11]:
import pandas as pd

# Make sure your datetime columns are in datetime format
df['start_datetime'] = pd.to_datetime(df['start_datetime'])
df['finish_datetime'] = pd.to_datetime(df['finish_datetime'])
meals['time'] = pd.to_datetime(meals['time'])

# Create the window end time
df['window_end'] = df['finish_datetime'] + pd.Timedelta(minutes=20)

# Initialize the column
df['carbs_during'] = 0

# Sort both DataFrames by ID and time for efficient lookups
df.sort_values(['ID', 'start_datetime'], inplace=True)
meals.sort_values(['ID', 'time'], inplace=True)

# Group by ID
grouped_df = df.groupby('ID')
grouped_meal = meals.groupby('ID')

# Check for meals in the window for each group
for pid, group in grouped_df:
    if pid in grouped_meal.groups:
        meals_pid = grouped_meal.get_group(pid)
        df_idx = group.index
        
        for i in df_idx:
            start = df.at[i, 'start_datetime']
            end = df.at[i, 'window_end']
            # Check if any meal happened in the time window
            if meals_pid[(meals_pid['time'] >= start) & (meals_pid['time'] <= end)].shape[0] > 0:
                df.at[i, 'carbs_during'] = 1

In [12]:
df.carbs_during.value_counts()

carbs_during
0    3515
1     159
Name: count, dtype: int64

In [13]:
df['bout_id'].value_counts()

bout_id
1737    2
259     2
258     2
253     2
252     2
       ..
1104    2
1103    2
1107    2
1101    2
831     2
Name: count, Length: 1837, dtype: int64

In [14]:
df_dropped = df[df['carbs_during']==0].copy()

In [15]:
# Filter to only keep bout_ids that appear exactly twice
valid_bouts = df_dropped['bout_id'].value_counts()
valid_bouts = valid_bouts[valid_bouts == 2].index

# Keep only those rows
df_filtered = df_dropped[df_dropped['bout_id'].isin(valid_bouts)].copy()

In [16]:
df_filtered.carbs_during.value_counts()

carbs_during
0    3356
Name: count, dtype: int64

In [17]:
3356/2

1678.0

In [18]:
df_dropped['bout_id'].value_counts()

bout_id
1738    2
31      2
233     2
232     2
230     2
       ..
1215    1
1221    1
1223    1
673     1
831     1
Name: count, Length: 1837, dtype: int64

In [19]:
df.to_csv("../../data/tidy/paired_data/final_data_for_analysis_food_incl.csv")

df_filtered.to_csv("../../data/tidy/paired_data/final_data_for_analysis_food_excl.csv")

In [20]:
df_filtered.ID.nunique()

516

In [23]:
df.shape[0]/2

1837.0